body {
  margin: 0;
  font-family: Science Gothic;
}

#view {
  width: 100%;
  height: 100vh;

  background-image: url("View.jpg");
  background-size: cover;
  background-position: center;

  position: relative;
  padding-top: 7.5rem;
  /* background:linear-gradient(to right, #E1FA8F, #C5F527);  */
}
#bgC {
  position: absolute;
  inset: 0;
  background: linear-gradient(
    to right,
    rgba(197, 245, 39, 0.9),
    rgba(225, 250, 143, 0.9)
  );
  z-index: 1;
}
#navBar {
  position: fixed;
  top: 1.25rem;
  width: 100%;
  padding: 1.25rem 3.125rem;
  display: flex;
  justify-content: space-between;
  align-items: center;

  transition: all 0.3s ease;
  z-index: 999;
}

#navBar.sticky {
  position: fixed;
  top: 0;
  background: linear-gradient(
    to right,
    rgba(197, 245, 39, 1),
    rgba(225, 250, 143, 1)
  );
  box-shadow: 0 0.125rem 0.625rem rgba(0, 0, 0, 0.1);
}
.icon {
  color: #000080;
  font-size: 1.875rem;
  text-decoration: none;
  margin: 0 0.9375rem;
}
#menu {
  margin-right: 12.5rem;
}
#social {
  margin-left: 6.25rem;
}
#intro {
  margin-left: 12.5rem;
  position: relative;
  z-index: 2;
  color: #000080;
  font-family: Science Gothic;
}
#aboutMe {
  /* height: 100vh; */
  background-color: #23252d;
  z-index: 2;
  position: relative;
  padding: 3.125rem;
  display: flex;
  gap: 9.375rem;
}
#profile {
  width: 18.75rem;
  height: 25rem;
  border: 0.625rem solid rgba(197, 245, 39, 1);
  margin-top: 6.25rem;
  margin-left: 6.25rem;
}
#proPic {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: relative;
  top: 2.5rem;
  right: 2.5rem;
}
h1 {
  font-size: 9.375rem;
}
#name h2 {
  margin-top: -10rem;
  font-size: 6.25rem;
}
#role h3 {
  margin-top: -6.875rem;
  font-size: 4.375rem;
}
#persInfo {
  width: 33.125rem;
}

#persInfo h1 {
  color: rgba(197, 245, 39, 1);
  font-size: 3.125rem;
  font-family: Science Gothic;
  width: 28.125rem;
  overflow: hidden;
}
#persInfo p {
  color: lightgray;
  line-height: 1.3;
  font-size: 1.25rem;
  font-family: Science Gothic;
  margin-top: -2.5rem;
}
.span {
  color: rgba(197, 245, 39, 1);
  font-size: 1.875rem;
  margin-bottom: 3.125rem;
}
.abtInt {
  color: lightgray;
  font-size: 1.875rem;
}
.abtInf {
  margin-top: -3.125rem;
}
#skills {
  background-color: #313741;
  z-index: 2;
  position: relative;
  padding: 3.125rem;
}
.head {
  margin-left: auto;
  margin-right: auto;
  font-family: Science Gothic;
  font-size: 3.125rem;
  color: rgba(197, 245, 39, 1);
  text-align: center;
}
.container {
  width: 100%;
  background-color: black;
}

.skills {
  text-align: right;
  color: #23252d;
}

.html {
  width: 95%;
  background: linear-gradient(
    to right,
    rgba(197, 245, 39, 1),
    rgba(225, 250, 143, 1)
  );
}
.css {
  width: 90%;
  background: linear-gradient(
    to right,
    rgba(197, 245, 39, 1),
    rgba(225, 250, 143, 1)
  );
}
.js {
  width: 85%;
  background: linear-gradient(
    to right,
    rgba(197, 245, 39, 1),
    rgba(225, 250, 143, 1)
  );
}
.php {
  width: 80%;
  background: linear-gradient(
    to right,
    rgba(197, 245, 39, 1),
    rgba(225, 250, 143, 1)
  );
}
.skillinf {
  font-family: Science Gothic;
  color: lightgray;
}
#works {
  margin-top: 6.25rem;
}
#cards {
  display: flex;
  gap: 2.5rem;
  flex-wrap: wrap;
}
.cardss {
  position: relative;
  width: 40%;
  height: 18.75rem;
  background-color: lightgray;
  margin-top: 5rem;
  margin-left: auto;
  margin-right: auto;
  border-radius: 1.25rem;
  cursor: pointer;
}
.carImg {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 1.25rem;
  display: block;
  width: 100%;
}
.imgTra {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 1.25rem;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  color: rgba(197, 245, 39, 1);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.5s;
}
.imgTra > * {
  transform: translateY(1.875rem);
  transition: transform 0.5s;
}
.imgTra:hover {
  opacity: 1;
}
.imgTra:hover > * {
  transform: translateY(0);
}
.imgTitle {
  font-size: 2em;
}
#btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5rem;
}
#btn-load {
  padding: 1.25rem;
  width: 15.625rem;
  border: #313741 1px solid;
  cursor: pointer;
  background-color: rgba(197, 245, 39, 1);
  color: #000080;
  transition: 0.5s;
}
#btn-load:hover {
  background-color: #313741;
  border: rgba(197, 245, 39, 1) 1px solid;
  color: rgba(197, 245, 39, 1);
}
#feedBack {
  display: flex;
  background-color: #23252d;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 37.5rem;
}
#feedHead {
  margin-left: auto;
  margin-right: auto;
  font-family: Science Gothic;

  color: rgba(197, 245, 39, 1);
  text-align: center;
}
#font {
  font-size: 3.125rem;
}
#avatar {
  width: 9.375rem;
  height: 9.375rem;
  border-radius: 50%;
}
#remark {
  color: lightgray;
  font-size: 1.25rem;
  width: 60%;
}
#hire {
  color: rgba(197, 245, 39, 1);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #313741;
}
#hire h1 {
  font-size: 3.125rem;
  margin-top: 4.6875rem;
}
#hire p {
  font-size: 1.875rem;
  margin-top: -1.875rem;
  color: lightgray;
}
#hire-btn {
  padding: 1.25rem;
  width: 15.625rem;
  cursor: pointer;
  background-color: #313741;
  border: rgba(197, 245, 39, 1) 1px solid;
  color: rgba(197, 245, 39, 1);
  transition: 0.5s;
}
#hire-btn:hover {
  background-color: rgba(197, 245, 39, 1);
  color: #313741;
}
#contact {
  background-color: #313741;
  color: lightgray;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#contact h1 {
  font-size: 3.125rem;
  margin-bottom: 1.25rem;
  color: rgba(197, 245, 39, 1);
  margin-top: 6.25rem;
}
#form {
  width: 100%;
}
.firstLine {
  width: 40%;
  margin-left: 2.5rem;
  margin-right: 2.5rem;
  background-color: #313741;
  color: lightgray;
  border: none;
  border-bottom: 1px solid lightgray;
  padding: 0.625rem;
  outline: none;
}
#form textarea {
  width: 87%;
  margin-bottom: 0.9375rem;
  padding: 0.625rem;
  margin-top: 1.875rem;
  margin-left: 2.5rem;
  background-color: #313741;
  color: lightgray;
  border: none;
  border-bottom: 1px solid lightgray;
  outline: none;
}
#send-btn {
  padding: 1.25rem;
  width: 15.625rem;
  background-color: rgba(197, 245, 39, 1);
  border: #313741 1px solid;
  color: #000080;
  transition: 0.5s;
  margin-left: 37.1875rem;
  margin-top: 4.6875rem;
  cursor: pointer;
}
#send-btn:hover {
  background-color: #313741;
  color: rgba(197, 245, 39, 1);
  border: 1px solid rgba(197, 245, 39, 1);
}
#footer {
  width: 100%;
  background-color: #313741;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 100px;
}
.footer-icon {
  color: rgba(197, 245, 39, 1);
  font-size: 1.875rem;
  text-decoration: none;
  margin: 0 0.9375rem;
  margin-bottom: 6.25rem;
}
footer {
  padding: 1.25rem;
  text-align: center;
  font-size: 1.2em;
  color: rgba(197, 245, 39, 1);
  border-top: solid 1px lightgray;
  margin-top: 3.125rem;
  width: 100%;
}
@media (max-width: 30rem) {
  #navBar {
    padding: 10px 15px;
   display: flex;
    gap: 5px;
  }

  #menu,
  #social {
    margin: 0;
  }

  h1 {
    font-size: 3.75rem;
  }

  #name h2 {
    font-size: 2.5rem;
    margin-top: -60px;
  }

  #role h3 {
    font-size: 1.75rem;
    margin-top: -40px;
  }

  #intro {
    margin-left: 20px;
  }

  #aboutMe {
    flex-direction: column;
    gap: 40px;
    padding: 30px 20px;
  }

  #profile {
    margin: auto;
    width: 220px;
    height: 300px;
  }

  #persInfo {
    width: 100%;
  }

  #persInfo h1 {
    font-size: 36px;
    width: 100%;
  }

  #persInfo p {
    font-size: 16px;
    margin-top: 0;
  }

  .head {
    font-size: 36px;
  }

  #cards {
    flex-direction: column;
  }

  .cardss {
    width: 90%;
    height: 220px;
  }

  #remark {
    width: 90%;
    font-size: 16px;
  }

  .firstLine {
    width: 90%;
    margin: 10px auto;
  }

  #form textarea {
    width: 90%;
    margin: 20px auto;
  }

  #send-btn {
    margin: 40px auto;
    display: block;
  }
}

@media (max-width: 48rem) {
  #navBar {
    padding: 20px 30px;
  }

  h1 {
    font-size: 5.625rem;
  }

  #name h2 {
    font-size: 3.75rem;
  }

  #role h3 {
    font-size: 2.8125rem;
  }

  #aboutMe {
    gap: 80px;
    padding: 40px;
  }

  #profile {
    margin-left: 0;
  }

  .cardss {
    width: 45%;
  }

  #send-btn {
    margin-left: auto;
    margin-right: auto;
    display: block;
  }
}
